@{
    ViewData["Title"] = "Home Page";
}

<main>
        <!-- Slider -->
        <section id="slider">
            <div class="container-fluid p-0">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="btn-bake">
                                            <h1>OUR MOST POPULAR BREAD RECIPES</h1>
                                            <a href="bake.html" class="btn">LET'S BAKE!</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <img src="./css/img/bread.png" class="d-block" alt="...">
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="btn-bake">
                                            <h1>OUR MOST POPULAR CAKE RECIPES</h1>
                                            <a href="bake.html" class="btn">LET'S BAKE!</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <img src="./css/img/Sweets.png" class="d-block" alt="...">
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="btn-bake">
                                            <h1>OUR MOST POPULAR MEAT RECIPES</h1>
                                            <a href="bake.html" class="btn">LET'S BAKE!</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <img src="./css/img/meat.png" class="d-block" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev slide-btn" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon arrow" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                              <i class="fas fa-chevron-left"></i>
                            </button>
                    <button class="carousel-control-next slide-btn" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                              <i class="fas fa-chevron-right"></i>
                </button>
                </div>
            </div>
        </section>
        <!-- Cards -->
        <section id="cards">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <h1>LATEST & GREATEST</h1>
                            <div class="col-lg-4">
                                <div id="1" class="card shadow mb-4">
                                    <div class="image-box">
                                        <img src="./css/img/cake.png" class="card-img-top" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">New York Cheesecake Recipe</h5>
                                        <p class="card-text">This New York Cheesecake recipe creates a creamy, rich, and indulgent baked dessert. Make it for..</p>
                                        <a href="#" target="_blank" class="btn">READ MORE</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div id="2" class="card shadow mb-4">
                                    <div class="image-box">
                                        <img src="./css/img/fish.png" class="card-img-top" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Fish Fry Recipe</h5>
                                        <p class="card-text">This delicious, crispy and spicy fish fry makes for a great appetizer or a side to a meal. This recipe is very easy to follow. </p>
                                        <a href="#" target="_blank" class="btn">READ MORE</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div id="3" class="card shadow mb-4">
                                    <div class="image-box">
                                        <img src="./css/img/fettucini.jpg" class="card-img-top" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Fettuccine Alfredo</h5>
                                        <p class="card-text">The best,quick and easy chicken alfredo you need to try! This is under 30-minute chicken alfredo recipe to fix...</p>
                                        <a href="#" target="_blank" class="btn">READ MORE</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div id="4" class="card shadow mb-4">
                                    <div class="image-box">
                                        <img src="./css/img/kabab.jpg" class="card-img-top" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Kebab Recipe</h5>
                                        <p class="card-text">The dish consists of cubes of chicken that are marinated, then skewered and grilled. It is usually made of chicken...</p>
                                        <a href="#" target="_blank" class="btn">READ MORE</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div id="5" class="card shadow mb-4">
                                    <div class="image-box">
                                        <img src="./css/img/choco.jpg" class="card-img-top" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Frozen Hot Chocolate</h5>
                                        <p class="card-text">Move over, cozy winter beverages – this Polar Bear Frozen Hot Chocolate is chilled and perfect for summer! </p>
                                        <a href="#" target="_blank" class="btn">READ MORE</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div id="6" class="card shadow mb-4">
                                    <div class="image-box">
                                        <img src="./css/img/tuna.jpg" class="card-img-top" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Tuna Salad</h5>
                                        <p class="card-text">Tuna salad is one of our go-to healthy meals. We love it between two pieces of bread, spread on a cracker..</p>
                                        <a href="#" target="_blank" class="btn">READ MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>
        <!-- Search box for searching recipes -->
        
    </main>
