@{
    ViewData["Title"] = "Result";
}
<main>
        <!-- Box for containing the searched cards -->
        <div class="container">
            <div class="row">
                <div class="col-6 result"></div>
            </div>
        </div>
    </main>